# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
publish/

# Visual Studio files
.vs/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Files built by Visual Studio
*.exe
*.dll
*.pdb
*.lib
*.exp

# NuGet packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Publish profiles
PublishProfiles/

# Package Files
*.dmg
*.iso

# Mac files
.DS_Store

# Backup & report files from converting an old project file
_UpgradeReport_Files/
UpgradeLog*.XML

# JetBrains Rider
.idea/
*.sln.iml

# CodeRush personal settings
.cr/personal